<!-- Adapted from https://github.com/carlow78/ginos-italian -->

<footer class="mt-auto bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h5><a href="{% url 'newsletter' %}" style="color: white;text-decoration:none;">Signup to our Newsletter</a></h5>
                
            </div>
            <div class="col-md-3">
                <h5><a href="{% url 'home' %}" style="color: white;text-decoration:none;">Home</a></h5>
            </div>
            <div class="col-md-3">
                <h5><a href="{% url 'products' %}" style="color: white;text-decoration:none;">Browse our store</a></h5>
                <ul class="list-unstyled">
                </ul>
            </div>
            <div class="col-md-3">
                <h5 style="color: white">Follow Us</h5>
                <ul class="list-inline footer-links">
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com" style="color: white;" target="_blank" rel="noopener noreferrer" aria-label="Open Facebook website in a new tab">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                      </li>
                    <li class="list-inline-item">
                      <a href="https://www.twitter.com" style="color: white;" target="_blank" rel="noopener noreferrer" aria-label="Open X Social Media website in a new tab">
                            <i class="fa-brands fa-x-twitter"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com" style="color: white;" target="_blank" rel="noopener noreferrer" aria-label="Open Instagram website in a new tab">
                            <i class="fa-brands fa-instagram"></i>
                      </a>
                    </li>
                   
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <p style="color: white">&copy; 2024 JL Designs All rights reserved.</p>
            </div>
            
            </div>
        </div>
    </div>
</footer>