<div class="collapse navbar-collapse" id="main-nav">
  <ul class="navbar-nav mx-auto">
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="all-products-link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              All Products
          </a>
          <ul class="dropdown-menu" aria-labelledby="all-products-link">
              <li><a class="dropdown-item" href="#">By Price</a></li>
              <li><a class="dropdown-item" href="#">By Rating</a></li>
              <li><a class="dropdown-item" href="#">By Category</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'products' %}">All Products</a></li>
          </ul>
      </li>

      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="teas-link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Teas
          </a>
          <ul class="dropdown-menu" aria-labelledby="teas-link">
              <li><a class="dropdown-item" href="#">Leaf</a></li>
              <li><a class="dropdown-item" href="#">Powder</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">All Teas</a></li>
          </ul>
      </li>

      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="accessories-link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Accessories
          </a>
          <ul class="dropdown-menu" aria-labelledby="accessories-link">
              <li><a class="dropdown-item" href="#">Weighing & Measuring</a></li>
              <li><a class="dropdown-item" href="#">Tea Storage</a></li>
              <li><a class="dropdown-item" href="#">Tea Strainers</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">All Accessories</a></li>
          </ul>
      </li>
  </ul>
</div>
