<div class="collapse navbar-collapse" id="main-nav">
  <ul class="navbar-nav mx-auto">
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="all-products-link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              All Products
          </a>
          <ul class="dropdown-menu" aria-labelledby="all-products-link">
              <li><a class="dropdown-item" href="{% url 'products' %}?sort=price&direction=asc">By Price</a></li>
              <li><a class="dropdown-item" href="{% url 'products' %}?sort=rating&direction=desc">By Rating</a></li>
              <li><a class="dropdown-item" href="{% url 'products' %}?sort=category&direction=asc">By Category</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'products' %}">All Products</a></li>
          </ul>
      </li>

      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="teas-link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Teas
          </a>
          <ul class="dropdown-menu" aria-labelledby="teas-link">
              <li><a class="dropdown-item" href="{% url 'products' %}?category=tea,leaf,leaves">Tea Leaves</a></li>
              <li><a class="dropdown-item" href="{% url 'products' %}?category=tea,powder">Tea Powder</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'products' %}?category=tea,powder,leaf,leaves">All Teas</a></li>
          </ul>
      </li>

      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="accessories-link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Accessories
          </a>
          <ul class="dropdown-menu" aria-labelledby="accessories-link">
              <li><a class="dropdown-item" href="{% url 'products' %}?category=weigh,weighing,measure,measuring">Weighing & Measuring</a></li>
              <li><a class="dropdown-item" href="{% url 'products' %}?category=tea,storage">Tea Storage</a></li>
              <li><a class="dropdown-item" href="{% url 'products' %}?category=tea,strainer">Tea Strainers</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'products' %}?category=all,accessory,accessories">All Accessories</a></li>
          </ul>
      </li>
  </ul>
</div>
