<div class="collapse navbar-collapse" id="main-nav">
  <ul class="navbar-nav mx-auto">
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="all-products-link" role="button" data-bs-toggle="dropdown"  aria-expanded="false">
              All Products
          </a>
          <ul class="dropdown-menu" aria-labelledby="all-products-link">
              <li><a class="dropdown-item" href="{% url 'products' %}?sort=price&direction=asc">By Price</a></li>
              <li><a class="dropdown-item" href="{% url 'products' %}?sort=rating&direction=desc">By Rating</a></li>
              <li><a class="dropdown-item" href="{% url 'products' %}?sort=category&direction=asc">By Category</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'products' %}">All Products</a></li>
          </ul>
      </li>  
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>



      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="teas-link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Teas
          </a>
          <ul class="dropdown-menu" aria-labelledby="teas-link">
            <li><a class="dropdown-item" href="{% url 'products' %}?category=tea_leaf">Tea Leaves</a></li>
            <li><a class="dropdown-item" href="{% url 'products' %}?category=tea_powder">Tea Powder</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'products' %}?category=tea_powder,tea_leaf">All Teas</a></li>
        </ul>
      </li>

      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="accessories-link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Accessories
          </a>
          <ul class="dropdown-menu" aria-labelledby="accessories-link">
              <li><a class="dropdown-item" href="{% url 'products' %}?category=weigh_measure">Weighing & Measuring</a></li>
              <li><a class="dropdown-item" href="{% url 'products' %}?category=tea_storage">Tea Storage</a></li>
              <li><a class="dropdown-item" href="{% url 'products' %}?category=tea_strainer">Tea Strainer</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'products' %}?category=weigh_measure,tea_storage,tea_strainer">All Accessories</a></li>
          </ul>
      </li>
  </ul>
</div>